/*Css styling for the home page*/

/* we have two components into the home page, the index-intro and th search-properties */
.index-intro,
.search-properties {
  padding: 10px;
  text-align: center;
}

/* The index-intro is the first component of the home page, it contains the title and the message that welcomes the user if signed in. */

.index-intro h1 {
  font-size: 2em;
  margin-top: 60px;
  color: white;
}

.index-intro p {
  font-size: 1.5em;
  color: white;
}

/* the search-properties component is the second component of the home page, it contains the search form that allows the user to search for properties. And i style it so appears in a box and the inputs are ia a row */

.search-properties {
  width: 70%;
  max-width: 850px;
  margin: 60px auto 175px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-properties h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: "Arial", sans-serif;
}

.search-properties form {
  display: flex;
  flex-direction: row;
}

.search-properties input,
.search-properties button {
  width: 100%;
  padding: 10px;
  margin: 10px 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.search-properties input[type="text"] {
  width: 45%;
}

.search-properties input[type="date"] {
  width: 30%;
}

.search-properties input[type="number"] {
  width: 20%;
}

.search-properties button {
  width: 20%;
  background-color: #3a4664;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-properties button:hover {
  background-color: #0056b3;
}

.search-properties input[type="text"]:focus,
.search-properties input[type="date"]:focus,
.search-properties input[type="number"]:focus,
.search-properties input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Error message dispays the message in red color. This is used everywhere in the website to display error messages. */
.error-message {
  color: red;
  text-align: center;
  margin: 10px;
}

/* Media query for the search-properties component to make it responsive */
/* Here i make the search-properties component responsive by changing the width of the component and the inputs are shown in a column when the screen size is less than 768px. */
@media screen and (max-width: 768px) {
  .search-properties {
    width: 70%;
  }

  .search-properties form {
    flex-direction: column;
  }

  .search-properties input[type="text"],
  .search-properties input[type="date"],
  .search-properties input[type="number"] {
    width: 92%;
  }

  .search-properties button {
    width: 100%;
  }
}
